<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ying.mapper.DairyMapper">
    <insert id="saveDairy" parameterType="com.ying.dairy.model.DariyModel">
        INSERT INTO dairy (title, content, dairyTime, level, type, ip) VALUES (#{title}, #{content}, #{dairyTime}, #{level})
    </insert>
    <select id="queryDairyOverView" resultType="com.ying.dairy.model.DariyModel">
        SELECT title, dairyTime, content, level, id FROM dairy
    </select>
    <select id="queryDairy" resultType="com.ying.dairy.model.DariyModel">
        SELECT title, content, dairyTime, level, id FROM dairy where dairyTime >= #{beginDate} and #{endDate} >= dairyTime
    </select>
</mapper>