<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>this is a diary</title>
    <script src="../js/angular.js"></script>
    <script src="../js/dairy.js"></script>
    <script src="../js/jquery-2.0.3.min.js"></script>
</head>
<body>
<div ng-controller="MyDairy">
    <p>this is a new diary</p>
    <div>
        <h5>{{clock}}</h5>
    </div>
    <input ng-model="title" type="text" placeholder="the name of dairy">

    <textarea ng-model="content" style="margin-top: 20px;width: 100%;padding-bottom: 146px;" placeholder="this is new content of dairy"></textarea>

    <button style="height: 20px;width: 50px; background-color: beige;" type="button" ng-click="commit()">提交</button>
</div>
</body>
</html>